section{
	/*display: none;*/
}
@media screen and (max-width: 1549px){
	#inicio, section{ padding: 100px 0; }
	#historia{ padding: 100px 0 150px 0; }
	#letras{ padding: 100px 0 80px 0; }
	section .centrado { max-width: 800px; }
	#historia h1 { float: none; max-width: 450px; margin: 0 auto 40px auto; font-size: 24px; line-height: 36px; text-align: center;}
	#historia article { float: none; margin: auto; }
	#integrantes{ padding-top: 100px; }
	#integrantes ul li{ width: 175px; }
}

@media screen and (max-width: 1199px){
	body:before{ background-position: 240px center; }
	#player{ width: 240px; }
	#inicio, section{ width: calc(100% - 240px); }
}

@media screen and (max-width: 1129px){
	body:before{ background-position: 185px center; }
	#player{ width: 185px; }
	#inicio, section{ width: calc(100% - 185px); }
}

@media screen and (min-width: 1080px){
	#player{
		height: 100%;
	}
	#player iframe:first-of-type{
		display: block;
	}
}

@media screen and (max-width: 1079px){
	html, body{ height: auto; }
	body:before{ background-position: center; }
	#player{ 
		position: static;
		width: 100%;
    	background-color: #303030;
    	height: 42px;
	}
		#player iframe:first-of-type{ display: none; }
		#player iframe:last-of-type{
			display: block;
			max-width: 700px;
			margin:0 auto;
		}
	#inicio, section{ width: 100%; height: auto }
	#inicio nav .centrado{ margin-top: 0 !important; padding: 10px 80px 10px 80px; }
	#historia .centrado{ position: static; }
}	

@media screen and (max-width: 959px){
	#integrantes{ padding: 50px 0; }
	#integrantes ul li { width: 50%; padding: 20px; box-sizing: border-box; margin: 0; }
	#discografia{padding: 50px 0;}
	#discografia .centrado > h1{ width: auto; padding: 5px 50px; }
	#discografia aside{ width: 225px; }
	#discografia aside ul li{ margin-bottom: 5px; }
	#discografia aside ul li:nth-of-type(1){ padding-right: 5px; }
	#discografia aside ul li:nth-of-type(2){ padding-left: 5px; }
	#discografia main{ width: calc(100% - 225px); }
	#discografia main a{ padding-left: 10px; }
	#discografia main a footer{ width: calc(100% - 10px); }
	#discografia a footer hgroup{ padding: 10px; }
	#discografia a footer hgroup h1{ font-size: 18px; }
	#discografia a footer hgroup h2{ font-size: 15px; }
	#fotos .centrado{ max-width: 600px; }
	#letras{ padding-top: 50px; padding-bottom: 90px; }
	#letras .centrado{ max-width: 680px; }
	#letras ul{ margin-left: 0; margin-right: 20px; }
	#letras ul li a{ font-size: 14px; }
}

@media screen and (max-width: 767px){	
	#discografia aside{ width: 100%; }
	#discografia aside ul li:nth-of-type(1), 
	#discografia aside ul li:nth-of-type(2){ width: 27%; }
	#discografia aside ul li:nth-of-type(1){ padding-right: 10px; }
	#discografia aside ul li:nth-of-type(2){ padding-left: 10px; }
	#discografia aside ul li:nth-of-type(3){ width: 40%; margin-left: 30px; }
	#discografia main{ width: 100%; }
	#discografia main a{ padding-left: 0; }
	#discografia main a footer{ width: 100%; }
	#inicio nav .centrado{ padding: 0; }
	#inicio nav .centrado div{ float: none; margin: auto; padding-top: 0}
	#inicio nav .centrado ul{ display: none; }
	#fotos .centrado{ max-width: 400px; }
	#letras ul{ float: none; margin: 0 auto 20px auto; text-align: center; }
	#letras ul li{ display: inline-block; }
	#letras ul li a{ font-size: 15px; }
	#letras .centrado div{ float: none; margin: auto; }
	body > footer{ display: block; float: right; width: 100%; padding: 50px 0; box-sizing: border-box; background-color: #2dad95;}
	body > footer .centrado{ max-width: 500px; margin: auto; text-align: center;}
}

@media screen and (min-width: 640px){
	.grid-item:hover img {
		position: relative;
		z-index: 99999999999999;
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
		transform: scale(2);  
	}
}

@media screen and (max-width: 639px){
	section .centrado{ padding: 0 20px; }
	#integrantes ul li { width: 100%; padding: 0; margin-bottom: 50px; }
	#integrantes ul li:last-of-type { margin-bottom: 0; }
	#discografia{ padding: 50px 0; }
	#discografia .centrado > h1{ padding: 5px 10px; font-size: 22px; }
	#discografia aside ul li:nth-of-type(3){ width: 40%; margin-left: 20px; }
	#discografia a footer hgroup h1{ font-size: 14px; }
	#discografia a footer hgroup h2{ font-size: 12px; }
	#discografia main a footer hgroup{ padding: 15px; }
	#discografia main a footer hgroup h1{ font-size: 18px; }
	.grid-item{ width: 100%; left: 0 !important; }
	#letras .centrado{ padding: 0 20px; }
	#letras .centrado div{ width: 420px; height: 400px; }
	#letras .centrado div:before{ top: 395px; width: 370px; height: 50px; }
	#letras article{ height: 400px; }
	#letras article footer{ width: 400px; }
	#letras .centrado div:after { top: 400px; width: 55px; height: 50px; }
}

@media screen and (max-width: 639px) and (min-width: 480px){
	#integrantes ul li > img { width: 100%; height: 250px; object-fit: cover; object-position: top; }
}

@media screen and (max-width: 479px){
	#historia{ padding: 30px 0; }
	#historia h1{ font-size: 20px; line-height: 32px; }
	#historia h1 br{ display: none; }
	#historia a{ width: auto; padding: 3px 6px; font-size: 15px; }
	#discografia{ padding: 40px 0; }
	#discografia .centrado{ padding: 0 20px; }
	#discografia .centrado > h1{ margin-bottom: 20px; }
	#discografia aside ul li:nth-of-type(1){ padding-right: 2px; }
	#discografia aside ul li:nth-of-type(2){ padding-left: 2px; }
	#discografia aside ul li:nth-of-type(3){ width: 42%; margin-left: 10px; }
	#discografia aside ul li a footer hgroup{ padding: 5px; }
	#discografia aside ul li a footer hgroup h1{ font-size: 12px; }
	#discografia a footer hgroup h2,
	#discografia a footer hgroup h3{ display: none; }
	#inicio nav .centrado div{ width: 240px; }
	#inicio nav .centrado div a img:first-of-type{ width: 100%; }
	#inicio nav .centrado div a img.over{ top: 95px; right: 110px; }
	#letras{ display: none; }
}
